.warapper{


    // z-index: -1;
   
    
    padding:5rem 11.5rem 5rem 11.5rem;
    background-color:orange;
    border-bottom: double;

    @media only screen and (max-width:$bp-largest){
        // background-color:white;
        padding: 0 0 2rem 0;

    }
    
}

.heade{
    
    // width: 119rem;
    margin: 0 auto;
}
.dropcolle{
    z-index: 4000;
    
    display: none;
    margin-left: -19rem;
    border-top: 1px solid var(--Grey-dark-2);
   
    position: absolute;
    background-color: #f9f9f9;
    width: 80rem;
    height: 50rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    @media only screen and (max-width:$bp-medium){
        width: 65rem;
        height: 35rem;
        margin-left: -14rem;

    }
    @media only screen and (max-width:$bp-small){
        width: 49rem;
        height: 34rem;
        margin-left: -12rem;
        
        
        

    }
    @media only screen and (max-width:$iphonex){
        width: 36rem;
        height: 21rem;
        margin-left: -18rem;
        
        
        

    }
    

}

.container-rest{
    
   max-width: 120rem;
    margin: 0 auto;
    z-index: 1;

}

.cars{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}
